.App {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  background: rgb(250, 250, 250);
  background-image: url("./tyre-1.jpg");
  background-size: cover;
  flex-wrap: wrap;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.infoWindow {
  width: 300px;
  height: 300px;
  background: white;
}

.gm-style .gm-style-iw-c {
  top: -90px !important;
}

.gm-style .gm-style-iw-c,
.gm-style-iw-t::after {
  top: -60px !important;
}

#infoWindow {
  overflow-y: auto;
  width: 200px;
  height: 300px;
  text-align: center;
}

h5 {
  font-weight: normal;
}
