.App {
  text-align: center;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.infoWindow {
  /* display: block; */
  width: 300px;
  height: 300px;
  background: white;
}

.gm-style .gm-style-iw-c {
  top: -90px !important;
}

.gm-style .gm-style-iw-c,
.gm-style-iw-t::after {
  top: -60px !important;
}

#infoWindow {
  overflow-y: auto;
  width: 200px;
  height: 300px;
  text-align: center;
}

h5 {
  font-weight: normal;
}
